<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965958270577-b4dnqkbet84jbdg1bqkp56iv0vjar31t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965958270577-b4dnqkbet84jbdg1bqkp56iv0vjar31t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>965958270577-5b61qalqcucasnq74j7h3skiq3q63s65.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAN0ZepLEvsNB80pnugyLsokDFdtfnFx4M</string>
	<key>GCM_SENDER_ID</key>
	<string>965958270577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>gsc2k23</string>
	<key>STORAGE_BUCKET</key>
	<string>gsc2k23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965958270577:ios:453f0b01a75111546b65d0</string>
</dict>
</plist>